/*---Semua tag---*/
*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
    margin-top: 20px;
}

/*---Navigation---*/

.wrapper{
    width: 1000px;
    margin: auto;
    position: relative;
}

nav {
    width: 100%;
    color: #fff;
    text-align: center;
    line-height: 80px;
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid #b1b1b1;
}

nav .logo {
    float: left;
    position: relative;
    line-height: 55px;
    text-align: center;
}

nav .logo img {
    width: 125px;
    vertical-align: middle;
}

nav .menu {
    float: right;
    height: 60px;
    max-width: 600px;
}

nav .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav .menu ul li {
    float: left;
    list-style-type: none;
    line-height: 60px;
}

nav ul li a {
    color: rgb(246, 246, 246);
    font-weight: bold;
    text-align: center;
    padding: 0px 18px 0px 18px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/*---Video---*/

header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}

header video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
}

header .intro {
    z-index: 100;
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
}

header.intro h3{
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.intro h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #e5b30e;
    width: 100%;
    line-height: 50px;
    margin-top: 20px;
}

.tombol {
    background-color: #c86b85;
    height: 40px;
    line-height: 42px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px 0px 20px;
    font-size:15px;
    border-radius: 4px;
    font-weight: bold;
}

.tombol:hover {
    background: #e5b30e;
    text-decoration: none;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 50%;
    z-index: -1;
}

.tombol-menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.tombol-menu .garis {
    height: 3px;
    background-color: #fff;
}

section {
    padding: 50px 0px 50px 0px;
}

section h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 20px;
    color: #ee9a09;
    width: 100%;
    text-align: center;
}

section h2::after {
    content: "";
    border-bottom: 5px solid #c86b85;
    width: 52px;
    display: block;
    margin: 20px auto;
}

/*--- About ---*/
#About {
    text-align: center;
}

nav.white {
    background-color: #fff;
}

nav.white .tombol-menu .garis {
    background-color: #333;
}

nav.white ul li a {
    color: #333;
}

/*-- Partners --*/

.gray {
    background-color: #f5f6f6;
}

.Partners {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Partners h5{
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    font-size: 18px;
    font-weight: bold;
}

.Partners img{
    width: 50%;
}

.Partners div {
    text-align: center;
    width: 26%;
}

/*-- Menu --*/

p {
    margin: 20px 50px 10px 0px;
    padding: 10px 0px 10px 0px;
    font-family: 'Gill Sans MT';
}

.tengah {
    text-align: center;
    width: 100%;
}

.menu-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-menu {
    width: 20%;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0px -10px 30px #ccc;
    border-radius: 5px;
    display: block;
    flex-direction: row;
    justify-content: space-between;
    
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.kartu-menu img {
    width: 80%;
    box-shadow: 0px 1px 9px 8px #877979;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 20px;
}

.kartu-menu h3{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: #ee9a09;
    margin-top: 50px;
}

.kartu-menu p{
    font-family: 'courier';
    font-weight: 10;
    font-size: 15px;
    text-align: center;
    color: #201e1e;
    
}

.kartu-menu h4{
    font-family: 'arial';
    font-weight: 2000;
    font-size: 15px;
    text-align: center;
    color: #db2c2c;
}

/*--- Contact ---*/

#Contact {
    background: #f5f6f6;
    padding: 30px 0px 0px 0px;
    margin-right: -10px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    font-family: 'comic sans ms';
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}
.iconDisp{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.iconDisp img {
    width: 25px;
    height: 25px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }
    nav .menu ul {
        display: none;
        margin-top: 60px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    nav .menu ul li {
        width: 100%;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
        line-height: 40px;
    }
    nav .menu ul li a {
        color: #333;
    }
    .tombol-menu {
        display: flex;
    }
    .Partners {
        display: block;
    }
    .Partners div {
        width: 100%;
        padding-bottom: 30px;
    }
    .menu-list div{
        width: 90%;
        padding-bottom: 30%;
    }
    .Contact {
        display: block;
    }
    .Contact div{
        width: 90%;
        padding-bottom: 30%;
    }
    .footer-section {
        width: 90%;
        padding-bottom: 5%;
    }
    .kolom iframe {
        width: 90%;
    }
}
